.container {
    background-color: aqua;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  #text {
    margin-bottom: 10px;
  }

  #timer {
    font-size: 24px;
  }

/*.block1 { 
    margin-left: 100px; 
    border: 1px solid #cccccc; 
    background-color: #A8B6FF; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 85px; 
    align-self: center; 
    border-radius: 20px; 
    float: left; 
    text-align:center; 
  } 
  .block2 { 
    margin-left: 2px; 
    border: 1px solid #cccccc; 
    background-color: #5F77F4; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 85px; 
    align-self: center; 
    border-radius: 20px; 
    float: left; 
    text-align:center; 
  }  
  .block3 { 
    margin-left: 2px; 
    border: 1px solid #cccccc; 
    background-color: #2F49D4; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 85px; 
    align-self: center; 
    border-radius: 20px; 
    float: left; 
    text-align:center; 
  } 
  .block4 { 
    margin-left: 2px; 
    border: 1px solid #cccccc; 
    background-color: #152CA8; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 85px; 
    align-self: center; 
    border-radius: 20px; 
    float: left; 
    text-align:center; 
  } 
 
  .block5 { 
    margin-left: 100px; 
    border: 1px solid #cccccc; 
    background-color: #EDEDED; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 470px; 
    height: 100px; 
 
    align-self: center; 
    border-radius: 20px; 
    float: left; 
    text-align:center; 
 
  } 
 
  .block6 { 
    margin-left: 100px; 
    border: 1px solid #cccccc; 
    background-color: #EDEDED; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 40px; 
    height: 40px; 
     
    align-self: center; 
    border-radius: 20px; 
    float: right; 
    text-align:center; 
  }
*/
  #stats { 
     
    width: 100%;
    max-width: 1500px; 
    display: flex;
    flex-direction: row;
    height: 100px; 
    } 
    
    #speed_words { 
    background-color: #A8B6FF; 
    border-radius: 20px;
    width: 25%; 
    height: 100px; 
    }

    #speed_symbols { 
      background-color: #5F77F4; 
      border-radius: 20px;
      width: 25%; 
      height: 100px; 
      }

      #language { 
        background-color: #2F49D4; 
        border-radius: 20px;
        width: 25%; 
        height: 100px; 
        }

        #timer { 
          background-color: #152CA8; 
          border-radius: 20px;
          width: 25%; 
          height: 100px; 
          }

          #texts_block { 
            background-color: #EDEDED; 
            border-radius: 20px;
            width: 100%; 
            text-align: justify;
            display: flex; 
            
            }
            #text{
              margin: 30px;
            }