.container {
  background-color: #a8ffd8; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  #text {
    margin-bottom: 10px;
  }

  #timer {
    font-size: 24px;
  }

body{
  font-family: 'Montserrat', sans-serif;
}


.stat_block{
  margin-left: auto;
    margin-right: auto;
    width: 6em
}
  #stats { 
     
    width: 100%;
    max-width: 1500px; 
    display: flex;
    flex-direction: row;
    height: 100px; 
    } 
    
    #speed_words { 
    background-color: #A8B6FF; 
    border-radius: 20px;
    width: 25%; 
    height: 100px; 
    }

    #speed_symbols { 
      background-color: #5F77F4; 
      border-radius: 20px;
      width: 25%; 
      height: 100px; 
      }

      #language { 
        background-color: #2F49D4; 
        border-radius: 20px;
        width: 25%; 
        height: 100px; 
        }

        #timer { 
          background-color: #152CA8; 
          border-radius: 20px;
          width: 25%; 
          height: 100px; 
          }

          #texts_block { 
            background-color: #EDEDED; 
            border-radius: 20px;
            width: 100%; 
            text-align: justify;
            display: flex; 
            
            }
            #text{
              margin: 30px;  
            }

#stat_text{
  margin: 30px;  
}

#input{
  border-radius: 20px;
  padding: 0.4rem;
  width: 98%;
  border: 1px solid;
}
#button_play{
  border-radius: 100px;
  padding: 0.4rem;
  width: 25%;
  border: 1px solid;
}

.button_restart{
  border-radius: 100px;
  border: none;
  background-image: url("/D:\Груп_сайт\IP-keyboard\reload_icon.png");
  background-size: cover;
  padding: 0.4rem;
  width: 25%;
  border: 1px solid;
}